/*                                                      General
*/
:root {
    --width: 90%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    color: #535353;
}

a {
    text-decoration: none;
    color: #535353;
}

a:hover {
    color: red;

}

p {
    color: #535353;
}





/*                                                      Title
*/
#Title {
    text-align: center;
    size: 40px;
    color: blue;
    margin-top: 160px;
}





/*                                                      Schedule
*/
#Schedule {
    width: var(--width);
    float: left;
    text-align: center;
    margin: 3em;
}

#Schedule table {
    width: 100%;
}

#Schedule th, td {
    text-align: left;
}

#Schedule table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}





/*                                                      Prof Info
*/
#ProfInfo {
    width: var(--width);
    float: right;
    margin: 3em;
}

#ProfInfo .info {
    width: 40%;
    padding: 0em 1em;
}

#ProfInfo .info a {
    color: black;
    text-decoration: none;
}
#ProfInfo .info a:hover {
    color: red;
}





/*                                                      Documents
*/
#Documents {
    margin-left: 6%;
}

#Documents .toDo p {
    margin-bottom: 0;
}




/*                                                  Links
*/
#Links {
    width: 90%;
}




/*                                                  CopyRight
*/
#CopyRight {
    text-align: center;
    background-color: #ff7878;
    color: #535353;
    margin-top: 1000px;
    padding-top: 3em;
    padding-bottom: 5em;
    size: 2em;
}