
.container-table {
  width: 90%;
  background: #fff;

  padding: 33px 30px;
}


table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 60%;
  float: left;
  margin: 0 auto;
}

.table-head th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

.column1 {
  background: #36304a;
  text-align: center;
  font-weight: bold;
  color: #fff;
}