---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:dnt" content="on">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- W3C web app -->
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    <!-- Old Chrome web app -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#363636"/>
    <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/assets/img/icon-192x192.png">
    <!-- iOS web app -->
    <meta name="apple-mobile-web-app-title" content="#eugr">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/img/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl }}/assets/img/icon-192x192.png">
    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.scss">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/schedule.scss">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
  </head>
  <body>
    <nav class="navbar is-dark is-fixed" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ site.baseurl }}/">
            {{ site.title }}
          </a>
        </div>
        <input type="checkbox" id="navbar-show" hidden>
      </div>
    </nav>

    <main class="main">
      {{ content }}
    </main>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p>&copy; 2017 {{ site.title }}. </p>
            <p>Esta página es una versión de <a href="https://e-ugr.github.io">e-ugr</a> y es <a href="https://es.wikipedia.org/wiki/Software_libre">software libre</a>: si quieres estudiarla o mejorarla, <a href="https://github.com/samUGR/samUGR.github.io">el código está disponible en GitHub</a>. Esta <strong>no es una página oficial</strong> de la {{ site.university }} ni guarda relación con ella.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
